In [1]:
import plotly
plotly.__version__

'2.5.1'

In [2]:
import json
import pandas as pd
import sys
import os

from sodapy import Socrata

In [3]:
# get plotly credentials
PLOTLY_USERNAME = os.environ.get('PLOTLY_USERNAME')
PLOTLY_API_KEY = os.environ.get('PLOTLY_API_KEY')

In [4]:
# set plotly credentials
plotly.tools.set_credentials_file(username=PLOTLY_USERNAME, api_key=PLOTLY_API_KEY)

In [5]:
# get Mapbox access token
MAPBOX_ACCESS_TOKEN = os.environ.get('MAPBOX_ACCESS_TOKEN')

## Get data
We're grabbing [Film locations in San Francisco, CA](https://opendata.socrata.com/Fun/Film-locations-in-San-Francisco-with-Geo/ge6u-xxyt) using the sodapy python client for the Socrata Open Data API.  
Search for more open data [here](https://opendata.socrata.com/).

In [6]:
# configure request
domain = 'opendata.socrata.com'
resource = 'ge6u-xxyt'
client = Socrata(domain, None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [7]:
# get data using Socrata Open Data API
json_data = json.dumps(client.get(resource, content_type='json'))
df = pd.read_json(json_data)
df.head(5)

,actor1,actor2,actor3,director,distributor,facts,location,location_1,productioncompany,release,title,writer
0,NaN,NaN,NaN,Ryan K. Whiting,NaN,NaN,0-100 block Halleck Street,"{u'latitude': u'37.7937113', u'needs_recoding'...",RKW Films,2010,Broken-A Modern Love Story,Ryan K. Whiting
1,James Stewart,Kim Novak,NaN,Alfred Hitchcock,Paramount Pictures,Tennis courts now sit on the site; in the movi...,1007 Gough Street,"{u'latitude': u'37.7825466', u'needs_recoding'...",Alfred J. Hitchcock Productions,1958,Vertigo,Alec Coppel
2,Dean Jones,Michele Lee,Ed Harris,Robert Stevenson,Buena Vista Distribution,Lombard Street is not actually the crookedest ...,100 Block of Lombard Street,"{u'latitude': u'37.802139', u'needs_recoding':...",Walt Disney Productions,1968,The Love Bug,Bill Walsh
3,Malcolm McDowell,Mary Steenburgen,Ellyn Burstyn,Nicholas Meyer,Columbia Broadcasting System (CBS),NaN,100 Block of Union Street (Cow Hollow),"{u'latitude': u'37.7980175', u'needs_recoding'...",Orion Pictures Corp.,1979,Time After Time,Karl Alexander
4,Robin Williams,Sally Field,NaN,Chris Columbus,Twentieth Century Fox Film Corporation,NaN,100 Embarcadero Street,"{u'latitude': u'37.7933939', u'needs_recoding'...",Twentieth Century Fox Film Corporation,1993,Mrs. Doubtfire,Randi Mayem Singer

In [8]:
# parse dict in the location_1 column
loc_df = df['location_1'].apply(pd.Series)
loc_df.head(5)

,human_address,latitude,longitude,needs_recoding
0,"{""address"":""0-100 block Halleck Street"",""city""...",37.7937113,-122.4000974,False
1,"{""address"":""1007 Gough Street"",""city"":""San Fra...",37.7825466,-122.4241443,False
2,"{""address"":""100 Block of Lombard Street"",""city...",37.802139,-122.41874,False
3,"{""address"":""100 Block of Union Street (Cow Hol...",37.7980175,-122.4350625,False
4,"{""address"":""100 Embarcadero Street"",""city"":""Sa...",37.7933939,-122.3925928,False

In [9]:
# join dataframes
final_df = df.join(loc_df)
final_df.head(5)

,actor1,actor2,actor3,director,distributor,facts,location,location_1,productioncompany,release,title,writer,human_address,latitude,longitude,needs_recoding
0,NaN,NaN,NaN,Ryan K. Whiting,NaN,NaN,0-100 block Halleck Street,"{u'latitude': u'37.7937113', u'needs_recoding'...",RKW Films,2010,Broken-A Modern Love Story,Ryan K. Whiting,"{""address"":""0-100 block Halleck Street"",""city""...",37.7937113,-122.4000974,False
1,James Stewart,Kim Novak,NaN,Alfred Hitchcock,Paramount Pictures,Tennis courts now sit on the site; in the movi...,1007 Gough Street,"{u'latitude': u'37.7825466', u'needs_recoding'...",Alfred J. Hitchcock Productions,1958,Vertigo,Alec Coppel,"{""address"":""1007 Gough Street"",""city"":""San Fra...",37.7825466,-122.4241443,False
2,Dean Jones,Michele Lee,Ed Harris,Robert Stevenson,Buena Vista Distribution,Lombard Street is not actually the crookedest ...,100 Block of Lombard Street,"{u'latitude': u'37.802139', u'needs_recoding':...",Walt Disney Productions,1968,The Love Bug,Bill Walsh,"{""address"":""100 Block of Lombard Street"",""city...",37.802139,-122.41874,False
3,Malcolm McDowell,Mary Steenburgen,Ellyn Burstyn,Nicholas Meyer,Columbia Broadcasting System (CBS),NaN,100 Block of Union Street (Cow Hollow),"{u'latitude': u'37.7980175', u'needs_recoding'...",Orion Pictures Corp.,1979,Time After Time,Karl Alexander,"{""address"":""100 Block of Union Street (Cow Hol...",37.7980175,-122.4350625,False
4,Robin Williams,Sally Field,NaN,Chris Columbus,Twentieth Century Fox Film Corporation,NaN,100 Embarcadero Street,"{u'latitude': u'37.7933939', u'needs_recoding'...",Twentieth Century Fox Film Corporation,1993,Mrs. Doubtfire,Randi Mayem Singer,"{""address"":""100 Embarcadero Street"",""city"":""Sa...",37.7933939,-122.3925928,False

## Visualize data

In [10]:
import plotly.plotly as py
from plotly.graph_objs import *

data = Data([
    Scattermapbox(
        lat=final_df['latitude'].tolist(),
        lon=final_df['longitude'].tolist(),
        mode='markers',
        marker=Marker(
            size=9
        ),
        text=final_df['title'].tolist(),
    )
])
layout = Layout(
    autosize=True,
    hovermode='closest',
    mapbox=dict(
        accesstoken=MAPBOX_ACCESS_TOKEN,
        bearing=0,
        center=dict(
            lat=37.7648,
            lon=-122.463
        ),
        pitch=40,
        zoom=10
    ),
)

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='Multiple Mapbox')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~misenerm/0 or inside your plot.ly account where it is named 'Multiple Mapbox'